body{
  font-family: 'Press Start 2P', cursive;
  background-image:url("../img/bgtile.gif");
  background-color:#696969;

  color: blue;
}
h1{
  font-size: 222%;
  text-shadow: 1px 1px red;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}
#title{
  margin-top: 4px;
  background-color: black;
}
.btn{
  background-color: black;
  color:white;
  font-family: 'Press Start 2P', cursive;
  border:1px solid black;
  padding: 1%;
  margin-top: 1%;
  margin-left: 2%;
}
.btn a{
  text-decoration:none;
}
.btn:hover{
  color:black;
  background-image:url("../img/bgtile.gif");
  background-repeat:round;
  font-family: 'Press Start 2P', cursive;
  border:1px solid black;
  padding: 1%;
  margin-top: 1%;
  margin-left: 2%;
}

.playerLeft{
  /*border:1px solid black;*/
  color:blue;
  position: absolute;
  float:left;
  background-color: black;
  font-size: 14px;
  margin-top: 1%;
  padding-left: 1%;
  padding-right: 2%


}
#tLeft {
  margin-left: -72%;
  margin-top: -14%;
  transform: rotate(90deg);
  float: left;
  position: absolute;
}
#tRight {
  margin-top: -14%;
  margin-left: 2%;
  margin-left: 9%;
  transform: rotate(-90deg);
  float: left;
  position: absolute;
}

.playerRight{
  /*border:1px solid black; */
  font-size: 14px;
  color: red;
  position: absolute;
  float: left;
  padding-bottom: 0.5%;
  padding-right: 11.5%;
  margin-top:-36.5%;
  margin-left: 77.5%;
  background-color: black;
}
.playerRight h4{
  margin-left: 4%;

}

.playerRight img{
  margin-left: 2%;
  float: left;
  transform: rotate(270deg);

}
.board{
height: 450px;
width: 700px;
margin: 30px auto;
background-color: black;
}
.container {
  height: 450px;
  margin: 30px auto;
  width: 700px;
  border:1px solid black;

}

.cell{
  border:1px solid black;
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 40px;
  width: 35px;
}

.map{
  background-color: black;
}

.player1{
background-image:url("../img/Tank1Small.gif");
overflow: hidden;
width: 35px;
height: 40px;
}

.right{
  transform:rotate(90deg);
}
.up{
transform:rotate(360deg);
}
.down{
  transform:rotate(180deg);
}
.left{
  transform:rotate(-90deg);
}

.player2{
  background-image:url("../img/Tank2Small.gif");
  width: 35px;
  height: 40px;
}
.bullet1{
  background-image:url("../img/Bullet1Small.gif");
  width: 35px;
  height: 40px;

}

.dotBlue{
  background-image:url("../img/bluedot2.gif");
  width: 35px;
  height: 40px;
}
.wallBreak{
  background-image:url("../img/wall2.jpeg");
  width: 35px;
  height: 40px;
}
.bush{
  background-image:url("../img/15.gif");
  width: 35px;
  height: 40px;
}
.wall{
  background-image:url("../img/wall1.gif");
  width: 35px;
  height: 40px;
}
