body{
  background-color: #b39980;;
  color: white;
}
h1{
  text-align: center;
}

.playerLeft{
  border:1px solid black;
  position: absolute;
  float:left;
  padding: 5%;
  margin-top:0.8%;
  margin-left: 2%;

}
.playerLeft img{
  margin-left: 2%;
  transform: rotate(90deg);
  float: left;

}

.playerRight{
  border:1px solid black;
  position: absolute;
  float:right;
  padding: 5%;
  margin-top:-37.5%;
  margin-left: 78.5%;
  margin-right: 2%;
}

.playerRight img{
  margin-left: 2%;
  float: left;
  transform: rotate(270deg);

}

.container {
  height: 450px;
  margin: 30px auto;
  width: 700px;
  border:1px solid black;

}
.cell{
  border:1px solid black;
  background-size: contain;
  box-sizing: border-box;
  float: left;
  height: 40px;
  width: 35px;
}

.map{
  background-color: black;
}

.player1{
background-image:url("../img/Tank1Small.gif");
overflow: hidden;
width: 35px;
height: 40px;
}

.right{
  transform:rotate(90deg);
}
.up{
transform:rotate(360deg);
}
.down{
  transform:rotate(180deg);
}
.left{
  transform:rotate(-90deg);
}

.player2{
  background-image:url("../img/Tank2Small.gif");
  width: 35px;
  height: 40px;
}
.bullet1{
  background-image:url("../img/Bullet7.gif");
  width: 35px;
  height: 40px;

}

.wall{
  background-image:url("../img/wall1.gif");
  width: 35px;
  height: 40px;


}
